.center{
	margin: auto;
	height: 100px;
	width: 1020px;
}
.xueli{
	font-size: 36px;
	color: #00a4ff;
	font-weight: bold;
	margin: 0px;
	width: 160px;
	float: left;
	margin-top: 28px;
}
.top{
	float: left;
	list-style: none;
	margin: 36px 100px 0px 20px;
	padding: 0px;
	height: 30px;
	overflow: hidden;
}
.top li{
	height: 28px;
	float: left;
	margin-left: 45px;
	padding: 0px 8px;
}
.xian{
	border-bottom: 3px solid #00a4ff;
}
.form1{
	float: left;
	margin-top: 30px;
	height: 40px;
}
.width{
	border: 1px solid #00a4ff;
	width: 280px;
	height: 28px;
	color: #cacacb;
	padding-left: 10px;
	float: left;
	background: #f3f5f7;
}
.height{
	border: none;
	float: left;
	width: 30px;
	height: 32px;
	background: url(../img/sousuo.png);
}
.person{
	float: left;
	margin: 0px;
	margin-top: 36px;
	margin-left: 40px;
}
.center a{
	text-decoration: none;
	color: black;
}
.center a:hover{
	color: blue;
}